{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu da Matemática do Rio de Janeiro</title>
    <!-- <link rel="stylesheet" href="{% static 'Moodsic/css/styles.css' %}"> -->
</head>
<body>

    <!-- header do site -->
    {% include 'Moodsic/header.html' %}

    <div class="structure">

        <section class="headline">
            <h1>Como você está se sentindo hoje? Como foi seu dia?</h1>
        </section>

        <div id="searchbox-wrapper">
            <form method="GET">
                <input id="searchbox" type="text" name="search-area" value="{{search_input}}">
                <input class="button" type="submit" value="Confirmar">
            </form>
        </div>

        <p class="description">Moodsic é um serviço que procura a música perfeita para o que você está sentindo. Apenas digite na caixa de texto e deixe o Moodsic fazer sua mágica. <br><br> Faça login para salvar suas consultas anteriores e acompanhar seu humor!</p>

        <footer class="footer">

        </footer>
        
    </div>
</body>
</html>