<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- header do site -->
    {% include 'Moodsic/header.html' %}

    <h1>Details</h1>

    <p>Search date: {{ moodsic.searchDate }}</p>
    <p>Typed text: {{ moodsic.typedText }}</p>
    <p>Mood: {{ moodsic.mood }}</p>

    <br>

    <h2>Found playlist:</h2>
    
    <h3>{{ moodsic.playlist.title }}</h3>
    <h4>By: {{ moodsic.playlist.owner }}</h4>

    {% if playlist_info.description %}
        <p>{{ playlist.description }}</p>
    {% endif %}

    {% if moodsic.opposite == True %}
        <p>Opposite to mood: Yes</p>
    {% else %}
        <p>Opposite to mood: No</p>
    {% endif %}

    {% if moodsic.playlist.image %}
        <img src="{{ moodsic.playlist.image }}" alt="{{ playlist_info.title }} Image">
    {% endif %}

    <p><a href="{{ moodsic.playlist.link }}" target="_blank">Open on Spotify</a></p>
</body>
</html>