/* GLOBAL */

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --color-primary: #6C3DD3;
    --color-secondary: #a65ed3;
    --color-gray: #3d3d3d;
    --color-background: #b69cdb;
}

body, input, select {
    font-family: 'Nunito', sans-serif;
    color: white;
}

body {
    background-color: var(--color-gray);
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

textarea {
    color: black;
    border-radius: 10px;
    max-width: 100%;
}

input, select {
    color: black;
    border-radius: 5px;
}

/* HEADER */

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    font-weight: bold;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}

.login-link {
    padding-left: 50px;
}

.header img {
    max-height: 80%;
    max-width: 30%;
}

.header a + a {
    margin-left: 20px;
}

.menu a {
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */
    color: white;
}

.menu a:hover {
    color: var(--color-secondary);
}

/* HOMEPAGE */

.home-content-wrapper {
    border-radius: 16px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: calc(100vh - 300px);
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    gap: 50px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}

.searchbox-wrapper {
    max-width: 100%;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LOGIN/REGISTER */

.logreg-wrapper {
    border-radius: 16px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: calc(100vh - 300px);
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    gap: 50px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}

.logreg-wrapper a {
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */
}

.logreg-wrapper a:hover {
    color: var(--color-secondary);
}

.fieldWrapper {
    padding: 20px;
}

/* TIMELINE */

.timeline-items-wrapper {
    padding: 20px;
}

.moodsic-wrapper {
    border-radius: 10px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}

.moodsic-buttons {
    font-size: 40px;
    padding-right: 20px;
}

.moodsic-description {
    padding-left: 20px;
    padding-right: 20px;
}

.timeline-text {
    padding: 20px;
    text-align: center;
}

#search_text {
    padding-left: 20px;
    padding-right: 20px;
}

#search-add-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* RESULTS/DETAILS */

.results-content {
    border-radius: 16px;
    background-color: var(--color-primary);
    text-align: center;
    margin: 50px;
    padding: 50px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}

.playlist-wrapper img {
    max-width: 400px;
}

.playlist-info-wrapper {
    padding-top: 20px;
}

.spotify-button {
    width: 200px;
}

.result-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* DELETE */

.delete-wrapper {
    border-radius: 16px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: calc(100vh - 500px);
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    gap: 50px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.37);
}