a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --color-primary: #6C3DD3;
    --color-secondary: #a65ed3;
    --color-gray: #3d3d3d;
}

body, input, select {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    border-bottom: 5px solid black;
    font-weight: bold;
}

.header img {
    max-height: 80%;
    max-width: 30%;
}

.menu a {
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */
}

.menu a:hover {
    color: var(--color-primary);
}